body {
	background-color: #f1f1f1;
}

.nav-main {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: rgb(170, 56, 56);
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
}

#btn-toggle-nav {
	width: 80px;
	height: 100%;
	background-image: url("menu.png");
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	cursor: pointer;
}

.btn-toggle-nav:hover {
	opacity: 0.5;
}

.nav-main ul {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	padding-left: 15px;
}

.nav-main ul li {
	list-style: none;
	line-height: 60px;
}

.nav-main ul li a {
	display: block;
	height: 100%;
	padding: 0 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: pink;
	font-family: arial;
	font-size: 16px;
}
.grey {
	background-color: grey;
}
.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.green {
	background-color: green;
}

.nav-sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 150px;
	text-transform: uppercase;
	height: calc(100vh - 110px);
	padding: 0 5px;
	background-color: #1b1b1b;
	color: pink;
	z-index: 1000;
	justify-content: space-around;
	visibility: hidden;
}

/*nav-sidebar ul {
	padding-top: 15px;
	overflow: hidden;
	visibility: hidden;
}
.nav-sidebar ul li {
	line-height: 60px;
	list-style: none;
}*/
.nav-sidebar ul li span,
.nav-sidebar ul li a {
	display: block;
	height: 60px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: arial;
	font-size: 16px;
	white-space: nowrap;
}

.nav-sidebar ul li a:hover {
	background-color: #222;
}
